.login-container {
  display: flex;
  justify-content: center;
}

form {
  margin: 50px;
  padding: 10px;
  background: var(--secondary-color);
  border: black solid 2px;
  border-radius: 15px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px;

  h2 {
    margin: 5px;
    justify-self: center;
    align-self: center;
  }

  input {
    margin: 5px;
    background: lightblue;
  }

  button {
    margin: 5px;
  }

  .error {
    color: red;
    background: yellow;
  }

}
