.foot-note {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);

  .links a{
    color: var(--text-color);

    i {
      position: relative;
      margin-top: 10px;
      font-size: 20px;
      width: 50px;

      transition: 0.2s;

      &:hover {
        transform: translateY(-4px);
        color: blue;

      }
    }
  }
}
