header {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-color);
  border-radius: 50px;
  border: 4px solid black;
  box-shadow: 5px 5px 10px;

  .logo {
    margin-left: 50px;
  }

  h1 {
    font-size: 100px;
    font-style: italic;
  }

}
