header {
  margin: 0 0 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-color);
  width: 100%;
  box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.5), inset -2px -2px 4px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to bottom right, rgba(0, 165, 255, 0.8), rgba(0, 139, 214, 0.8)) padding-box;;

  .logo {
    margin-left: 50px;
  }

  h1 {
    font-size: 100px;
    font-style: italic;
  }

}
