.new-todo-btn {
  background: var(--secondary-color);
  border-radius: 10px;
  width: 100px;
  height: 50px;
  transition-duration: 400ms;
  border: none;
  box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.5), inset -2px -2px 4px rgba(0, 0, 0, 0.5);
  font-weight: 900;


  &:hover {
    background: red;
    scale: 1.1;
  }
}
