:root {
  --primary-color: #cefeff;
  --secondary-color: #92d5ff;
}

* {
  font-family: 'Lexend', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  scroll-behavior: smooth;
  background: linear-gradient(to bottom right, rgba(0, 178, 255, 0.8), rgba(0, 72, 112, 0.8)) padding-box;;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-color);
}
