:root {
  --primary-color: #cefeff;
  --secondary-color: #92d5ff;
  --text-color: #000000;
}

* {
  font-family: 'Lexend', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  background-color: var(--primary-color);
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-color);
}
